.copyright {
	display: block;
	
	font-family: 'OpenSans-Regular', Arial, sans-serif;
	font-size: 16px;
	color: $primary-color-light1;
}

.copyright--subscribe {
	margin-left: 1px;
	margin-top: 35px;

	@media only screen and (max-width: 560px) {
    	margin-left: 9%;
	}

	@media only screen and (max-width: 365px) {
    	font-size: 14px;
	}
}