.img-slider {
	width: 900px;
	height: 550px;
	margin-top: 90px;
	margin-bottom: 81px;

	.flexslider {
		position: relative;

		margin-bottom: 0;

		border: none;
	}

	.custom-navigation {
		position: relative;
		z-index: 1;
		
		display: flex;
		justify-content: flex-end;

		margin-top: -100px;

		.flex-prev {
			display: block;
		
			width: 100px;
			height: 100px;

			background-image: url('/img/arrow_left.png');
			background-repeat: no-repeat;
			background-position: 50%;
			background-color: $primary-color-dark1;
			
			@media only screen and (max-width: 1000px) {
				width: 150px;
				height: 50px;
			}			

			@media only screen and (max-width: 710px) {
				width: 90px;
			}			
		}

		.flex-next {
			display: block;
			
			width: 100px;
			height: 100px;

			background-image: url('/img/arrow_right.png');
			background-repeat: no-repeat;
			background-position: 50%;
			background-color: $primary-color-dark2;
			
			@media only screen and (max-width: 1000px) {
				width: 150px;
				height: 50px;
			}

			@media only screen and (max-width: 710px) {
				width: 90px;
			}			
		}

		@media only screen and (max-width: 1000px) {
			margin-top: -50px;
		}	
	}

	@media only screen and (max-width: 1000px) {
		width: 160%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	@media only screen and (max-width: 635px) {
		width: 100%;
	}	
}